PORT=you-port
DATABASE_URL=your-postgres-url
DB_SSL=true/false
APP_BASE_URL=http://localhost:url
SESSION_SECRET=change-this-to-a-long-random-secret-string
ADMIN_USERNAME=adminuser
ADMIN_PASSWORD_HASH=admin-password-hash
BREVO_API_KEY=brevo-api-key
EMAIL_FROM=email-from
EMAIL_FROM_NAME=email-from-name
